<% is_selection_youdeo ||= false %>

<div class="post box is-margin-bottom-1 is-margin-top-1 <%= "is-selection-youdeo" if is_selection_youdeo %>">
    <div class="post-header has-text-centered">
        <div class="post-date is-pulled-left has-text-grey-light">Il y a 1 heure</div>
        <% if is_selection_youdeo %>
            <div class="post-is-selection is-text-centered is-text-red"><i class="fa fa-star" aria-hidden="true"></i> Sélection Youdeo <i class="fa fa-star" aria-hidden="true"></i></div>
        <% end %>
        <div class="post-menu is-pulled-right">menu</div>
        <div class="is-clearfix"></div>
    </div>
    <div class="post-center">
        <div class="post-left-lane is-pulled-left is-margin-right-1 is-margin-top-1">
            <img src="https://avatars0.githubusercontent.com/u/6117264?s=40&v=4" alt="avatar" width="48" height="48">
        </div>
        <div class="has-text-grey-lighter is-margin-left-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Video partagée par</div>
        <div class="post-body">
            <div class="is-margin-bottom-1 is-margin-left-1">
                <div class="post-username is-bold">Useuse1000</div>
                <div class="post-handle has-text-grey-light">@I_AM_USEUSE1000</div>
            </div>
            <div class="post-content is-margin-bottom-1">
                C'est trop la meilleure vidéo de tous les temps wallah ma gueule, j'te jure sur la tête de Christine Bravo !
            </div>
            <div class="post-video">
                <img src="https://i.ytimg.com/vi/6kwXmWEhT0s/maxresdefault.jpg" class="image" alt="miniature">
            </div>
            <div class="post-video-title title is-4 is-margin-top-1">
                Le VPN, la protection ultime ? - Monsieur Bidouille
            </div>
            <div class="post-video-user">
                <img src="https://yt3.ggpht.com/-GQe17DQh7fA/AAAAAAAAAAI/AAAAAAAAAAA/6aWUJqSAa_g/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" class="image is-pulled-left" alt="avatar youtubeur" width="48" height="48">
                <div class="is-margin-left-4">
                    <div class="is-bold">
                        Monsieur Bidouille
                    </div>
                    <div class="has-text-grey-light">
                        Published on Jan 28, 2018
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-footer">
        
    </div>
</div>
