
<div class="post-center">
    <div class="post-left-lane is-pulled-left is-margin-right-1 is-margin-top-1">
        <img src="https://avatars0.githubusercontent.com/u/6117264?s=40&v=4" alt="avatar" width="48" height="48">
    </div>
    <div class="post-body">
        <div class="is-margin-bottom-1 is-margin-left-1">
            <div class="post-username is-bold">Useuse1000</div>
            <div class="post-handle has-text-grey-light">@I_AM_USEUSE1000</div>
        </div>
        
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="Colle le lien YouTube d’une vidéo que tu veux partager">
            </div>
            <div class="control">
                <a class="button is-primary">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        
        <p class="help is-text-red">Ceci n'est pas un lien valide de vidéo youtube.</p>
    </div>
</div>

<div class="post-center is-margin-top-1">
    <div class="post-left-lane is-pulled-left is-margin-right-1 is-margin-top-1">
        <img src="https://avatars0.githubusercontent.com/u/6117264?s=40&v=4" alt="avatar" width="48" height="48">
    </div>
    <div class="post-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Que penses-tu de cette vidéo ?" rows="2"></textarea>
            </div>
        </div>
        
        <div class="post-video is-pulled-left is-padding-right-1" style="width: 50%;">
            <img src="https://i.ytimg.com/vi/6kwXmWEhT0s/maxresdefault.jpg" class="image" alt="miniature" width="100%">
        </div>
        <div class="is-pulled-left" style="width: 50%;">
            <div class="is-bold title is-4 is-marginless">
                Le VPN, la protection ultime ? - Monsieur Bidouille
            </div>
            <div class="post-video-user is-margin-top-1">
                <img src="https://yt3.ggpht.com/-GQe17DQh7fA/AAAAAAAAAAI/AAAAAAAAAAA/6aWUJqSAa_g/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" class="image is-pulled-left" alt="avatar youtubeur" width="30" height="30">
                <div class="is-margin-left-3 is-bold">
                    Monsieur Bidouille
                </div>
            </div>
        </div>
        <div class="is-clearfix"></div>
        
    </div>
</div>