<div class="post tile box">
    <div class="post-header has-text-centered">
        <div class="post-date is-pulled-left">Il y a 1 heure</div>
        <div class="post-is-selection is-text-centered is-text-red"><i class="fa fa-star" aria-hidden="true"></i> Sélection Youdeo <i class="fa fa-star" aria-hidden="true"></i></div>
        <div class="post-menu is-pulled-right">menu</div>
    </div>
</div>
