<section class="hero hero-youdeo is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        PEOPLE SHARING VIDEOS
      </h1>
      <div class="is-margin-top-10">
          <h2 class="subtitle is-5">
            Rejoins Youdeo pour découvrir et partager de bonnes vidéos.<br />
            Tu vas enfin passer plus de temps à les regarder qu’à les chercher.
          </h2>
      </div>
      <h3 class="subtitle is-5">
      </h2>
    </div>
  </div>
</section>