<section class="hero hero-youdeo is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        PEOPLE SHARING VIDEOS
      </h1>
      <div class="is-margin-top-10">
          <h2 class="subtitle is-5">
            <b>Rejoins Youdeo pour découvrir et partager de bonnes vidéos.</b><br />
            Tu vas enfin passer plus de temps à les regarder qu’à les chercher.
          </h2>
      </div>
      <div class="is-margin-top-2">
        <a class="button is-primary is-outlined" href="">
            Découvrir
        </a>
        <a class="button is-primary" href="">
            Commencer
        </a>
      </div>
    </div>
  </div>
</section>