body {
    font-family: 'URW Geometric';
}

.is-bold {
    font-weight: 900;
}

.is-phat {
    font-size: 5rem;
}

.has-top-shadow {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2) inset;
}

.hero-youdeo {
    background-image: url(/assets/backgrounds/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% bottom;
    .title, .subtitle {
        color: white;
    }
}

.toucan-background {
    background-image: url(/assets/backgrounds/toucan_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: 50% center;
}

.tuto-background {
    background-image: url(/assets/backgrounds/tuto_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% top;
    background-color: $grey;
}

.medal-background {
    background-image: url(/assets/backgrounds/medal_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: $grey;
}

.jungle-background {
    background-image: url(/assets/backgrounds/jungle_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: $grey;
}

.button.is-primary.is-outlined {
    color: white;
}

.title.is-blue {
    color: $blue;
}

.offsetted-logo {
    position: absolute;
    margin-top: -100px;
    margin-left: -60px;
}

.has-right-border {
    border-right: 2px solid $red;
}
.youdeo-container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.feed-menu-item {
    position: relative;
}
.feed-menu-item.is-active {
    font-weight: bold;
}

.feed-menu-item.is-active::after {
    content: "⚫";
    color: $red;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -0.5em;
}

////////////////////
// SPACING CLASSES

$sizes: (0,1,2,3,4,5);
$default_spacing: 15;
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .is-margin-#{$size} {
    margin: $size * $default_spacing + px;
  }
  .is-padding-#{$size} {
    padding: $size * $default_spacing + px;
  }
  
  @each $position in $positions {
      .is-margin-#{$position}-#{$size} {
          margin-#{$position}: $size * $default_spacing + px;
      }
      .is-padding-#{$position}-#{$size} {
          padding-#{$position}: $size * $default_spacing + px;
      }
  }
}

.is-max-width-400 {
    max-width: 400px;
}