.hero-youdeo {
    background-image: url(/assets/backgrounds/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% bottom;
    .title, .subtitle {
        color: white;
    }
    
}

.toucan-background {
    background-image: url(/assets/backgrounds/toucan_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: 50% center;
}

.tuto-background {
    background-image: url(/assets/backgrounds/tuto_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% top;
    background-color: $grey;
}

.button.is-primary.is-outlined {
    color: white;
}

.title.is-big-blue {
    color: $blue;
    font-size: 5rem;
}

////////////////////
// SPACING CLASSES

$sizes: (0,1,2,3,4,5);
$default_spacing: 15;
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .is-margin-#{$size} {
    margin: $size * $default_spacing + px;
  }
  .is-padding-#{$size} {
    padding: $size * $default_spacing + px;
  }
  
  @each $position in $positions {
      .is-margin-#{$position}-#{$size} {
          margin-#{$position}: $size * $default_spacing + px;
      }
      .is-padding-#{$position}-#{$size} {
          padding-#{$position}: $size * $default_spacing + px;
      }
  }
}

.is-max-width-400 {
    max-width: 400px;
}